name: Test manual
on: workflow_dispatch
jobs:
  # Label of the container job
  test-manual:
    # Containers must run in Linux based operating systems
    runs-on: ubuntu-latest
    # Docker Hub image that `container-job` executes in
    container: node:18-alpine
    steps:
      # Project checkout
      - uses: actions/checkout@v3
      - name: Install dependencies
        run: yarn install --frozen-lockfile --link-duplicates
      - name: Manual run
        run: |
          node index.js
        env:
          INPUT_SUMMARY_FILE: __tests__/coverage-summary.json
      - name: Run test
        run: |
          pwd
          ls -lathr
          yarn test
